.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 16px;
}

.container__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 0px 16px 16px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.table__wrapper {
  width: 100%;
  overflow: auto;
}

.table {
  width: 100%;
  min-width: 576px;
  border-spacing: 8px 16px;
}

.head__cell {
  font-weight: 800;
}

.pagination {
  display: flex;
  flex-direction: row;
}

.search__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.search {
  width: 250px;
  outline: none;
  border: none;
  padding: 8px 16px;
  height: 40px;
  border-radius: 8px;
  background-color: #efefef;
}

@media screen and (max-width: 576px) {
  .table {
    font-size: 12px;
  }

  .search {
    width: 100%;
  }
}
