.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.container__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 32px;
}
